{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ICT Editor - Sunday Worship App</title>
    <script defer src = "{% static 'app_editor/js/app_editor1.js' %}"></script>
</head>
<body>
    <main>
        <form action="" method="post" enctype="multipart/form-data" >
            <fieldset style="width:max-content">

                <div>
                    File Choice 
                </div>
                <div>
                    <label for="file-input" id="file-choice">Input File:</label>
                    <input id="file-input" list="list" name="file-input"  type="text" placeholder="Select video file here..." >
                    <datalist id="list">
                        {% for file in dir %}
                            <option value= {{file}} >
                        {% endfor %}
                    </datalist>
                </div>
            </fieldset >
            <fieldset style="width:max-content">
                <div style="width:max-content">
                    <label for="testimony">
                        Testimony:
                    </label>
                    <input type="time" name="time-testimony" id="start-time-testimony" step="1" min="00:00:00" max="24:00:00" >
                    <span> &nbsp; To &nbsp; </span>
                    <input type="time" name="time-testimony" id="end-time-testimony" step="1" min="00:00:00" max="24:00:00">
                    <br><br><input type="text" name = "received-duration" id="received-duration">
                </div>
            </fieldset>
            <fieldset>
                <div id= "times">

                </div>
            </fieldset>
        </form>


    </main>
    </div>
</body>
</html>