<div>
    <div>
        <input type="text" id="title1" name="title1" required />
        </div>
        <div>
        <label>From: &nbsp; </label>
        <input type="number" min="0" max = "59"/> 
        <span> : </span> 
        <input type="number" min="0" max = "59"/>
        <span> : </span> 
        <input type="number" min="0" max = "59"/>

        <label> &nbsp; To: &nbsp; </label>
        <input type="number" min="0" max = "59"/> 
        <span> : </span> 
        <input type="number" min="0" max = "59"/>
        <span> : </span> 
        <input type="number" min="0" max = "2"/>
        <div> {{duration}} secs </div>
    </div>
</div>