<div>
    <!-- Duration -->
    <div><h4> File duration:  {{duration}} secs </h4> </div>

    <!--  Choir Ministration -->
    <div>
        <h3> Choir Ministration: </h3>
        <label for="title-choir">Title : &nbsp;</label>
        <input type="text" id="title-choir" name="title-choir" placeholder="Date is enough"  required />
    </div>
    <div>
        <label>From: &nbsp; </label>
        <input class="time-boxes" type="number" id="t1-sec-choir" name="t1-sec-choir" min="0" max = "59"  placeholder="sec" />
        <label> &nbsp; To: &nbsp; </label>
        <input class="time-boxes" type="number" id="t2-sec-choir" name="t2-sec-choir" min="0" max = "59"  placeholder="sec"/>
    </div>
    <div>
        <span>Options: 
            <label for="options-choir"> &nbsp; Off:</label>
            <input type="radio" id="options-choir-off" name="options-choir" value="off">
            <label for="options-choir">&nbsp; Audio: </label>
            <input type="radio" id="options-choir-audio" name="options-choir" value="audio">
            <label for="options-choir">&nbsp; Video: </label>
            <input type="radio" id="options-choir-video" name="options-choir" value="video">
            <label for="options-choir">&nbsp; Audio and Video: </label>
            <input type="radio" id="options-choir-audiovideo" name="options-choir" value="both">
        </span>

    </div>
    
    <hr>
    
    <!-- Testimony session -->
    <div>
        <h3>Testimony: </h3>
        <label for="title-testimony">Title : &nbsp;</label>
        <input type="text" id="title-testimony" name="title-testimony" placeholder="Date is enough" required />
    </div>
    <div>
        <label>From: &nbsp; </label>
        <input class="time-boxes" type="number" id="t1-sec-testimony" name="t1-sec-testimony" min="0" max = "59" placeholder="sec" />
        <label> &nbsp; To: &nbsp; </label>
        <input class="time-boxes" type="number" id="t2-sec-testimony" name="t2-sec-testimony" min="0" max = "59" placeholder="sec"/>
    </div>
    <div>
        <span>Options: 
            <label for="options-testimony">&nbsp; Off: </label>
            <input type="radio" id="options-testimony-off" name="options-testimony" value="off">
            <label for="options-testimony">&nbsp; Audio: </label>
            <input type="radio" id="options-testimony-audio" name="options-testimony" value="audio">
            <label for="options-testimony">&nbsp; Video:</label>
            <input type="radio" id="options-testimony-video" name="options-testimony" value="video">
            <label for="options-testimony">&nbsp; Audio and Video: </label>
            <input type="radio" id="options-testimony-audiovideo" name="options-testimony" value="both">
        </span>
    </div>

    <hr>
    <!--  Sermon  -->
    <div>
        <h3> Sermon </h3>
        <label for="title-sermon">Title : &nbsp;</label>
        <input type="text" id="title-sermon" name="title-sermon" placeholder="Actual sermon title" required />
    </div>
    <div>
        <label>From: &nbsp; </label>
        <input class="time-boxes" type="number" id="t1-sec-sermon" name="t1-sec-sermon" min="0" max = "59" placeholder="sec" />
        <label> &nbsp; To: &nbsp; </label>
        <input class="time-boxes" type="number" id="t2-sec-sermon" name="t2-sec-sermon" min="0" max = "59" placeholder="sec"/>
    </div>
    <div>
        <span>Options: 
            <label for="options-sermon">Off: &nbsp;</label>
            <input type="radio" id="options-sermon-off" name="options-sermon" value="off">
            <label for="options-sermon">&nbsp; Audio:</label>
            <input type="radio" id="options-sermon-audio" name="options-sermon" value="audio">
            <label for="options-sermon">&nbsp; Video:</label>
            <input type="radio" id="options-sermon-video" name="options-sermon" value="video">
            <label for="options-sermon">&nbsp; Audio and Video:</label>
            <input type="radio" id="options-sermon-audiovideo" name="options-sermon" value="both">
        </span>

    </div>
</div>
