<div>
    <!-- Duration -->
    <div><h4>File duration:  {{duration_}} </h4> </div>
    <div>
        <input type="number" name = "duration" value={{duration}}  hidden />
    </div>

    <!-- Testimony session -->
    <div>
        <h3>Testimony: </h3>
        <label for="title-testimony">Title : &nbsp;</label>
        <input type="text" id="title-testimony" name="title-testimony" placeholder="Date is enough" required />
        
    </div>
    <div>
        <label>From: &nbsp; </label>
        <input class="time-boxes" type="number" id= "t1-min-testimony" name="t1-min-testimony"  min="0" max = "59" placeholder="min" /> 
        <span> : </span> 
        <input class="time-boxes" type="number" id= "t1-sec-testimony" name="t1-sec-testimony" min="0" max = "59" placeholder="sec"/>

        <label> &nbsp; To: &nbsp; </label>
        <input class="time-boxes" type="number" id= "t2-min-testimony" name="t2-min-testimony" min="0" max = "59" placeholder="min"/> 
        <span> : </span> 
        <input class="time-boxes" type="number" id= "t2-sec-testimony" name="t2-sec-testimony" min="0" max = "59" placeholder="sec"/>
    </div>
    <div>
        <span>Options: 
            <input type="radio" id="options-testimony-off" name="options-testimony" value="off">
            <label for="options-testimony-off">&nbsp; Off: </label>
            
            <input type="radio" id="options-testimony-audio" name="options-testimony" value="audio">
            <label for="options-testimony-audio">&nbsp; Audio: </label>
            
            <input type="radio" id="options-testimony-video" name="options-testimony" value="video">
            <label for="options-testimony-video">&nbsp; Video:</label>
            
            <input type="radio" id="options-testimony-audiovideo" name="options-testimony" value="both">
            <label for="options-testimony-audiovideo">&nbsp; Audio and Video: </label>
            
        </span>
    </div>


    <hr>
     <!--  Choir Ministration  -->
    <div>
        <h3> Choir Ministration: </h3>
        <label for="title-choir">Title : &nbsp;</label>
        <input type="text" id="title-choir" name="title-choir" placeholder="Date is enough" required />
        
    </div>
    <div>
        <label>From: &nbsp; </label>
        <input class="time-boxes" type="number" id= "t1-min-choir" name="t1-min-choir" min="0" max = "59" placeholder="min" /> 
        <span> : </span> 
        <input class="time-boxes" type="number" id= "t1-sec-choir" name="t1-sec-choir" min="0" max = "59" placeholder="sec"/>

        <label> &nbsp; To: &nbsp; </label>
        <input class="time-boxes" type="number" id= "t2-min-choir" name="t2-min-choir" min="0" max = "59" placeholder="min"/> 
        <span> : </span> 
        <input class="time-boxes" type="number" id= "t2-sec-choir" name="t2-sec-choir" min="0" max = "59" placeholder="sec"/>
    </div>
    <div>
        <span>Options: 
            <input type="radio" id="options-choir-off" name="options-choir" value="off">
            <label for="options-choir-off"> &nbsp; Off: </label>

            <input type="radio" id="options-choir-audio" name="options-choir" value="audio">
            <label for="options-choir-audio">&nbsp; Audio: </label>

            <input type="radio" id="options-choir-video" name="options-choir" value="video">
            <label for="options-choir-video">&nbsp; Video: </label>

            <input type="radio" id="options-choir-audiovideo" name="options-choir" value="both">
            <label for="options-choir-audiovideo">&nbsp; Audio and Video: </label>

        </span>

    </div>


    <hr>
     <!-- Sermon session -->
    <div>
        <h3>Sermon: </h3>
        <label for="title-sermon">Title : &nbsp;</label>
        <input type="text" id="title-sermon" name="title-sermon" placeholder="Actual sermon title" required />
        
    </div>
    <div>
        <label>From: &nbsp; </label>
        <input class="time-boxes" type="number" id= "t1-min-sermon" name="t1-min-sermon" min="0" max = "59" placeholder="min" /> 
        <span> : </span> 
        <input class="time-boxes" type="number" id= "t1-sec-sermon" name="t1-sec-sermon" min="0" max = "59" placeholder="sec"/>

        <label> &nbsp; To: &nbsp; </label>
        <input class="time-boxes" type="number" id= "t2-min-sermon" name="t2-min-sermon" min="0" max = "59" placeholder="min"/> 
        <span> : </span> 
        <input class="time-boxes" type="number" id= "t2-sec-sermon" name="t2-sec-sermon" min="0" max = "59" placeholder="sec"/>
    </div>
    <div>
        <span>Options: 
            <input type="radio" id="options-sermon-off" name="options-sermon" value="off">
            <label for="options-sermon-off">Off: &nbsp;</label>
            
            <input type="radio" id="options-sermon-audio" name="options-sermon" value="audio">
            <label for="options-sermon-audio">&nbsp; Audio:</label>
            
            <input type="radio" id="options-sermon-video" name="options-sermon" value="video">
            <label for="options-sermon-video">&nbsp; Video:</label>
            
            <input type="radio" id="options-sermon-audiovideo" name="options-sermon" value="both">
            <label for="options-sermon-audiovideo">&nbsp; Audio and Video:</label>
            
        </span>
    </div>

    <div>
        <div>
            <div>
                <label>
                    Intro Text
                </label>
            </div>
            <textarea id="intro" name="intro" rows="7" cols="60">This sermon, titled ______ and dated _____ is brought to 
you by the mountain of fire and Miracles Ministries, Lagos region 42, Iyanaa-eepaja, Lagos state.
Ministering; _______ Pastor Omolade Precious, regional overseer, Dr. D.K. Olukoya, General Overseer, MFM worldwide God 
bless you as you listen
            </textarea>
        </div>

        <div>
            <div>
                <label>
                    Outro Text
                </label>
            </div>
            <textarea id="outro" name="outro" rows="4" cols="60">We have come to the end of this sermon. Thank you for 
your audience. Remain blessed.
            </textarea>
        </div>
    </div>
</div>   