<div>
    <!-- Duration -->
    <div><h4> File duration:  {{duration}} secs </h4></div>

    <!-- Testimony session -->
    <div>
        <h3>Testimony: </h3>
        <label for="title-testimony">Title : &nbsp;</label>
        <input type="text" id="title-testimony" name="title-testimony" placeholder="Date is enough" required />
    </div>
    <div>
        <label>From: &nbsp; </label>
        <input class="time-boxes" type="number" min="0" max = "59" placeholder="Hr"/> 
        <span> : </span> 
        <input class="time-boxes" type="number" min="0" max = "59" placeholder="min"/>
        <span> : </span> 
        <input class="time-boxes" type="number" min="0" max = "59" placeholder="sec"/>

        <label> &nbsp; To: &nbsp; </label>
        <input class="time-boxes" type="number" min="0" max = "59" placeholder="Hr"/> 
        <span> : </span> 
        <input class="time-boxes" type="number" min="0" max = "59" placeholder="min"/>
        <span> : </span> 
        <input class="time-boxes" type="number" min="0" max = "2"  placeholder="sec"/>
    </div>
    <div>
        <span>Options: 
            <label for="options-testimony">&nbsp; Off: </label>
            <input type="radio" id="" name="options-testimony" value="">
            <label for="options-testimony">&nbsp; Audio: </label>
            <input type="radio" id="" name="options-testimony" value="">
            <label for="options-testimony">&nbsp; Video:</label>
            <input type="radio" id="" name="options-testimony" value="">
            <label for="options-testimony">&nbsp; Audio and Video: </label>
            <input type="radio" id="" name="options-testimony" value="">
        </span>
    </div>

    <hr>

    <!--  Choir Ministration -->
    <div>
        <h3> Choir Ministration: </h3>
        <label for="title-choir">Title : &nbsp;</label>
        <input type="text" id="title-choir" name="title-choir" placeholder="Date is enough" required />
    </div>
    <div>
        <label>From: &nbsp; </label>
        <input class="time-boxes" type="number" min="0" max = "59" placeholder="Hr"/> 
        <span> : </span> 
        <input class="time-boxes" type="number" min="0" max = "59" placeholder="min"/>
        <span> : </span> 
        <input class="time-boxes" type="number" min="0" max = "59" placeholder="sec"/>

        <label> &nbsp; To: &nbsp; </label>
        <input class="time-boxes" type="number" min="0" max = "59" placeholder="Hr"/> 
        <span> : </span> 
        <input class="time-boxes" type="number" min="0" max = "59" placeholder="min"/>
        <span> : </span> 
        <input class="time-boxes" type="number" min="0" max = "2"  placeholder="sec"/>
    </div>
    <div>
        <span>Options: 
            <label for="options-choir"> &nbsp; Off: </label>
            <input type="radio" id="" name="options-choir" value="">
            <label for="options-choir">&nbsp; Audio: </label>
            <input type="radio" id="" name="options-choir" value="">
            <label for="options-choir">&nbsp; Video: </label>
            <input type="radio" id="" name="options-choir" value="">
            <label for="options-choir">&nbsp; Audio and Video: </label>
            <input type="radio" id="" name="options-choir" value="">
        </span>
    </div>

    <hr>

    <!--  Sermon -->
    <div>
        <h3> Sermon: </h3>
        <label for="title-sermon">Title : &nbsp;</label>
        <input type="text" id="title-sermon" name="title-sermon" placeholder="Actual sermon title" required />
    </div>
    <div>
        <label>From: &nbsp; </label>
        <input class="time-boxes" type="number" min="0" max = "59" placeholder="Hr"/> 
        <span> : </span> 
        <input class="time-boxes" type="number" min="0" max = "59" placeholder="min"/>
        <span> : </span> 
        <input class="time-boxes" type="number" min="0" max = "59" placeholder="sec"/>

        <label> &nbsp; To: &nbsp; </label>
        <input class="time-boxes" type="number" min="0" max = "59" placeholder="Hr"/> 
        <span> : </span> 
        <input class="time-boxes" type="number" min="0" max = "59" placeholder="min"/>
        <span> : </span> 
        <input class="time-boxes" type="number" min="0" max = "2"  placeholder="sec"/>
    </div>
    <div>
        <span>Options: 
            <label for="options-sermon">Off: &nbsp;</label>
            <input type="radio" id="" name="options-sermon" value="">
            <label for="options-sermon">&nbsp; Audio:</label>
            <input type="radio" id="" name="options-sermon" value="">
            <label for="options-sermon">&nbsp; Video:</label>
            <input type="radio" id="" name="options-sermon" value="">
            <label for="options-sermon">&nbsp; Audio and Video:</label>
            <input type="radio" id="" name="options-sermon" value="">
        </span>

    </div>
</div>