<div>
    <!-- Duration -->
    <div>File duration:  {{duration}} secs </div>

    <!-- Testimony session -->
    <div>
        <h3>Testimony: </h3>
        <label for="title-testimony">Title : &nbsp;</label>
        <input type="text" id="title-testimony" name="title-testimony" placeholder="Date is enough" required />
        
    </div>
    <div>
        <label>From: &nbsp; </label>
        <input class="time-boxes" type="number" min="0" max = "59" placeholder="min" /> 
        <span> : </span> 
        <input class="time-boxes" type="number" min="0" max = "59" placeholder="sec"/>

        <label> &nbsp; To: &nbsp; </label>
        <input class="time-boxes" type="number" min="0" max = "59" placeholder="min"/> 
        <span> : </span> 
        <input class="time-boxes" type="number" min="0" max = "59" placeholder="sec"/>
    </div>
    <div>
        <span>Options: 
            <label for="options_testimony">&nbsp; Off: </label>
            <input type="radio" id="" name="options_testimony" value="">
            <label for="options_testimony">&nbsp; Audio: </label>
            <input type="radio" id="" name="options_testimony" value="">
            <label for="options_testimony">&nbsp; Video:</label>
            <input type="radio" id="" name="options_testimony" value="">
            <label for="options_testimony">&nbsp; Audio and Video: </label>
            <input type="radio" id="" name="options_testimony" value="">
        </span>
    </div>


    <hr>
     <!--  Choir Ministration  -->
    <div>
        <h3> Choir Ministration: </h3>
        <label for="title-choir">Title : &nbsp;</label>
        <input type="text" id="title-choir" name="title-choir" placeholder="Date is enough" required />
        
    </div>
    <div>
        <label>From: &nbsp; </label>
        <input class="time-boxes" type="number" min="0" max = "59" placeholder="min" /> 
        <span> : </span> 
        <input class="time-boxes" type="number" min="0" max = "59" placeholder="sec"/>

        <label> &nbsp; To: &nbsp; </label>
        <input class="time-boxes" type="number" min="0" max = "59" placeholder="min"/> 
        <span> : </span> 
        <input class="time-boxes" type="number" min="0" max = "59" placeholder="sec"/>
    </div>
    <div>
        <span>Options: 
            <label for="options_choir"> &nbsp; Off: </label>
            <input type="radio" id="" name="options_choir" value="">
            <label for="options_choir">&nbsp; Audio: </label>
            <input type="radio" id="" name="options_choir" value="">
            <label for="options_choir">&nbsp; Video: </label>
            <input type="radio" id="" name="options_choir" value="">
            <label for="options_choir">&nbsp; Audio and Video: </label>
            <input type="radio" id="" name="options_choir" value="">
        </span>

    </div>


    <hr>
     <!-- Sermon session -->
    <div>
        <h3>Sermon: </h3>
        <label for="title-sermon">Title : &nbsp;</label>
        <input type="text" id="title-sermon" name="title-sermon" placeholder="Actual sermon title" required />
        
    </div>
    <div>
        <label>From: &nbsp; </label>
        <input class="time-boxes" type="number" min="0" max = "59" placeholder="min" /> 
        <span> : </span> 
        <input class="time-boxes" type="number" min="0" max = "59" placeholder="sec"/>

        <label> &nbsp; To: &nbsp; </label>
        <input class="time-boxes" type="number" min="0" max = "59" placeholder="min"/> 
        <span> : </span> 
        <input class="time-boxes" type="number" min="0" max = "59" placeholder="sec"/>
    </div>
    <div>
        <span>Options: 
            <label for="options_sermon">Off: &nbsp;</label>
            <input type="radio" id="" name="options_sermon" value="">
            <label for="options_sermon">&nbsp; Audio:</label>
            <input type="radio" id="" name="options_sermon" value="">
            <label for="options_sermon">&nbsp; Video:</label>
            <input type="radio" id="" name="options_sermon" value="">
            <label for="options_sermon">&nbsp; Audio and Video:</label>
            <input type="radio" id="" name="options_sermon" value="">
        </span>

    </div>
</div>   